#list__items--done li label{
        text-decoration: line-through;
        color: grey;
}

.twitter-typeahead {
        width: 100%;
}

.tt-menu {
        background: white;
        border: 2px solid lightslategray;
        padding: 5px;
}

.tt-menu .tt-cursor {
        background: lightgoldenrodyellow;
}