{% extends "layout.html" %}

{% block content %}
<h1>Your Lists</h1>

<ol>
    {% for list in lists %}
    <li><a href="{% url 'update' list.id %}">{{list.description}}</a></li>
    {% endfor %}
</ol>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">New List</label>
        <input type="text" class="form-control" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Create List</button>
</form>
{% endblock %}