{% extends "layout.html" %}
{% block content %}
    <div class="row my-3">
        <div class="col text-center">
            <h1>{{list.description}}</h1>
            <h2>$ {{list.budget}}</h2>
        </div>
    </div>
    
        {% csrf_token %}
        <ul class='list-unstyled'>
            {% for item in pending_items %}
            <li class="py-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{item.id}}" name="{{item.id}}" value="pending">
                    <label class="custom-control-label" for="{{item.id}}">{{item.description}} <em> - ${{item.cost}}</em></label>
                    <a href="{% url 'delete' list.id item.id %}" class="btn btn-primary d-inline-block float-right">x</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    
        <form method='POST' id='frm-todo' action='add'>
            <div class="form-group">
                <input type="text" class="form-control" id="newItem" name="new_item" aria-describedby="Add new item description" placeholder="Add New Item" autofocus> 
             </div>
        </form>
    
        <ul class='list-unstyled' id='list__items--done'>
            {% for item in done_items %}
            {% if item.is_to_be_bought %}
            <li class="bg-warning">
            {% else %}
            <li>
            {% endif %}
                <div class="custom-control custom-checkbox py-1">
                    <input type="checkbox" class="custom-control-input" id="{{item.id}}" name="{{item.id}}" value="done" checked>
                    <label class="custom-control-label" for="{{item.id}}" title="{{item.delta_info}}">{{item.description}}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
    <div class='fixed-bottom bg-dark text-light p-3 text-center'>
        <a class="text-light" href="{% url 'index' %}">All Lists</a>
    </div>
{% endblock %}