{% load static %}

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'todos/favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class='pb-5'>
        <main class='container mb-4'>
            {{sts.argv}}
            {% block content %}{%endblock%}
        </main>
        {% load static %}
        <!--<script src='http://localhost:8080/main.js'></script>-->
        <script src='{% static "frontend/main.js" %}'></script>
    </body>
</html>
